body {
			background-color: black;
			color: white;
		}
		#weather-info {
			text-align:center;
		}
		p {
			float: center;
			font-size: 2em;
		}
		h1 {
			font-size: 3em;
			font-weight: bold;
		}
		#image {
			width: 100%;
			height: auto;
		}
		@media screen and (max-width: 600px){
			h1 {
				font-size: 2em;
				font-weight: bold;
			}
			p {
				float: center;
				font-size: 1.5em;
			}
		}